/* Global style */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Benne", serif;
    background-color: azure;
    color: black;
    text-align: center;
}

/* Background animation */
.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #dbdbdb 50%, #aba6a6 50%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

/* Heading style */
.title {
    text-align: center;
    font-size: 250%;
    margin-top: 1.5%;
}

.logo {
    width: 20%;
}

/* Game menu buttons */
.index-btn {
    background-color: #efefef;
    padding: 1em 1em;
    font-size: 2.5rem;
    border-radius: 25px;
    margin-top: 2%;
    display: inline-block;
    width: 15%;
}

/* Button modals */
.modalDialog {
    position: fixed;
    font-family: "Benne", serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 0 auto;
    margin-top: 2.5%;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    background: #dbdbdb;
}

.close {
    background: #606061;
    color: #ffffff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #df0024;
}

/* Intro video*/
#intro-vid {
    display: block;
    margin-top: 1.5%;
    margin-left: auto;
    margin-right: auto;
    height: 20rem;
    width: 100%;
    border-radius: 5px;
}

/* Form modal */
.contact_form {
    color: black;
    background-color: #dbdbdb;
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 1.5%;
    font-size: 2rem;
}

.text_input {
    background: transparent;
    color: black;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 2px solid black;
    border-radius: 2px;
}

#feedback {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
    height: 5rem;
    border: 2px solid black;
}

.submit_button {
    width: 50%;
    font-size: 1.5rem;
    border-radius: 25px;
}

/* Rules modal */
#rules_diagram {
    margin-top: 2.5%;
    width: 65%;
    border-radius: 25px;
    display: block;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

/* Score Board / Results */
.badge {
    background: grey;
    color: white;
    text-transform: uppercase;
    font-size: 70%;
    padding: 10px 6px;
}

#user-label {
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translate(-10%, -50%);
}

#computer-label {
    position: absolute;
    top: 50%;
    right: -5%;
    transform: translate(10%, -50%);
}

.score-board {
    border: 3px solid #000;
    width: 300px;
    margin: 40px auto;
    font-size: 40px;
    border-radius: 4px;
    text-align: center;
    padding: 15px 20px;
    position: relative;
}

#result_display {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    font-size: 250%;
}

/* Player and CPU Area */
.player_area {
    width: 50%;
    float: left;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    font-size: 150%;
}
.computer_area {
    width: 50%;
    float: right;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    font-size: 150%;
}

/* Weapons Text */
#weapon_txt {
    margin-bottom: 2.5%;
}

/* Weapon Buttons */

.btn--big {
    padding-top: 10px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid;
    width: 100px;
    font-size: 3.2rem;
    margin: 0 30px;
    transition: all 0.5s;
}

.btn--blue {
    border-color: #0085c7;
    color: #0085c7;
}

.btn--blue:active,
.btn--blue:hover {
    background-color: #0085c7;
    color: white;
}

.btn--black {
    border-color: black;
    color: black;
}

.btn--black:active,
.btn--black:hover {
    background-color: black;
    color: white;
}

.btn--red {
    border-color: #df0024;
    color: #df0024;
}

.btn--red:active,
.btn--red:hover {
    background-color: #df0024;
    color: white;
}

.btn--green {
    border-color: #009f3d;
    color: #009f3d;
}

.btn--green:active,
.btn--green:hover {
    background-color: #009f3d;
    color: white;
}

.btn--yellow {
    border-color: #f4c300;
    color: #f4c300;
}

.btn--yellow:active,
.btn--yellow:hover {
    background-color: #f4c300;
    color: white;
}

/* Footer */
footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    overflow: auto;
    display: block;
}

.footer {
    text-align: center;
}

.footer li {
    display: inline;
}

.footer i {
    font-size: 300%;
    margin: 1%;
    padding: 3%;
    color: #3a3a3a;
}

.fa-facebook-square:hover,
.fa-twitter-square:hover,
.fa-youtube-square:hover,
.fa-instagram-square:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

/* Win and lose gif */
.gif {
    width: 50%;
    display: block;
    margin: 0 auto;
}

/* Media query max width 1200px for small desktop view */
@media screen and (max-width: 1200px) {
    /* Heading style */
    .title {
        font-size: 300%;
        margin-top: 1.5%;
    }

    .logo {
        width: 60%;
    }

    /* Game menu buttons */
    .index-btn {
        width: 50%;
        font-size: 2.4rem;
    }

    #intro {
        margin-top: 5%;
    }

    .modalDialog > div {
        font-size: 170%;
    }

    #rules_diagram {
        display: block;
        margin: 0 auto;
        width: 50%;
    }

    /* Score Board / Results */
    #user-label {
        font-size: 80%;
    }

    #computer-label {
        font-size: 80%;
    }

    .score-board {
        width: 70%;
    }

    #user-score {
        font-size: 200%;
    }

    #computer-score {
        font-size: 200%;
    }

    #result_display {
        font-size: 300%;
    }

    /* Player and CPU Area */
    .player_area {
        font-size: 180%;
    }
    .computer_area {
        font-size: 180%;
    }

    /* Weapons Text */
    #weapon_txt {
        font-size: 180%;
    }

    #menu-btn {
        margin-top: 2.5%;
        width: 80%;
    }

    /* Gif */
    .gif {
        width: 80%;
    }

    /* Footer */
    .footer i {
        font-size: 350%;
    }

    footer {
        margin-top: 5%;
    }
}

/* Media query max width 992px for small desktop view */
@media screen and (max-width: 992px) {
    /* Heading style */
    .title {
        font-size: 230%;
        margin-top: 1.5%;
    }

    .logo {
        width: 60%;
    }

    /* Game menu buttons */
    .index-btn {
        width: 50%;
        font-size: 2.4rem;
    }

    #intro {
        margin-top: 5%;
    }

    .modalDialog > div {
        font-size: 150%;
    }

    #rules_diagram {
        display: block;
        margin: 0 auto;
        width: 50%;
    }

    /* Score Board / Results */
    #user-label {
        font-size: 80%;
    }

    #computer-label {
        font-size: 80%;
    }

    .score-board {
        width: 70%;
    }

    #result_display {
        font-size: 200%;
    }

    /* Player and CPU Area */
    .player_area {
        font-size: 150%;
    }
    .computer_area {
        font-size: 150%;
    }

    /* Weapons Text */
    #weapon_txt {
        font-size: 150%;
    }

    #menu-btn {
        margin-top: 2.5%;
        width: 80%;
    }

    /* Gif */
    .gif {
        width: 80%;
    }

    /* Footer */
    .footer i {
        font-size: 350%;
    }

    footer {
        margin-top: 5%;
    }
}

/* Media query max width 768px for tablets */
@media screen and (max-width: 768px) {
    /* Heading style */
    .title {
        font-size: 200%;
        margin-top: 1.5%;
    }

    .logo {
        width: 60%;
    }

    /* Game menu buttons */
    .index-btn {
        width: 50%;
        font-size: 1.7rem;
    }

    #intro {
        margin-top: 5%;
    }

    .modalDialog > div {
        font-size: 120%;
    }

    #rules_diagram {
        display: block;
        margin: 0 auto;
        width: 50%;
    }

    /* Score Board / Results */
    #user-label {
        font-size: 60%;
    }

    #computer-label {
        font-size: 60%;
    }

    .score-board {
        width: 70%;
    }

    #result_display {
        font-size: 170%;
    }

    /* Player and CPU Area */
    .player_area {
        font-size: 100%;
    }
    .computer_area {
        font-size: 100%;
    }

    /* Weapons Text */
    #weapon_txt {
        margin-top: 10%;
        font-size: 130%;
    }

    #menu-btn {
        margin-top: 2.5%;
        width: 80%;
    }

    /* Gif */
    .gif {
        width: 80%;
    }

    /* Footer */
    .footer i {
        font-size: 300%;
    }

    footer {
        margin-top: 5%;
    }
}

/* Media query max width 480px for small devices and phones */
@media screen and (max-width: 480px) {
    /* Heading style */
    .title {
        font-size: 180%;
        margin-top: 1.5%;
    }

    .logo {
        width: 70%;
    }

    /* Game menu buttons */
    .index-btn {
        width: 50%;
        font-size: 1.7rem;
    }

    #intro {
        margin-top: 5%;
    }

    #intro-vid {
        height: 10rem;
    }

    .modalDialog > div {
        font-size: 110%;
        width: 300px;
    }

    /* Score Board / Results */
    #user-label {
        font-size: 60%;
    }

    #computer-label {
        font-size: 60%;
    }

    .score-board {
        width: 70%;
    }

    #result_display {
        font-size: 150%;
    }

    /* Player and CPU Area */
    .player_area {
        font-size: 90%;
    }
    .computer_area {
        font-size: 90%;
    }

    /* Weapons Text */
    #weapon_txt {
        margin-top: 20%;
        font-size: 130%;
    }

    #menu-btn {
        margin-top: 2.5%;
        width: 80%;
    }

    /* Gif */
    .gif {
        width: 80%;
    }

    /* Footer */
    .footer i {
        font-size: 300%;
    }

    footer {
        margin-top: 5%;
    }
}

/* Media query max width 320px for small mobile devices */
@media screen and (max-width: 320px) {
    /* Heading style */
    .title {
        font-size: 135%;
        margin-top: 1.5%;
    }

    .logo {
        width: 70%;
    }

    /* Game menu buttons */
    .index-btn {
        width: 50%;
    }

    #intro {
        margin-top: 15%;
    }

    /* Intro video*/
    #intro-vid {
        height: 15rem;
    }

    .modalDialog > div {
        width: 80%;
        font-size: 75%;
    }

    /* Score Board / Results */
    #user-label {
        font-size: 50%;
    }

    #computer-label {
        font-size: 50%;
    }

    .score-board {
        width: 70%;
    }

    #result_display {
        font-size: 130%;
    }

    /* Player and CPU Area */
    .player_area {
        font-size: 85%;
    }
    .computer_area {
        font-size: 85%;
    }

    /* Weapons Text */
    #weapon_txt {
        margin-top: 40%;
        font-size: 100%;
    }

    .btn--big {
        margin: 0;
    }

    #menu-btn {
        margin-top: 2.5%;
        width: 80%;
    }

    /* Gif */
    .gif {
        width: 80%;
    }

    /* Footer */
    .footer i {
        font-size: 190%;
    }

    footer {
        margin-top: 15%;
    }
}
